    </main>
    <hr>

    <br>
    <div class="ui container">
        <p>
            This blog is a tiny little project meant for coding practice. 
            This footer (and the rest of the website) was made by Ryo Mac.
        </p>
    </div>
    <br>

    </body>
</html>