<% include ./partials/header %>

<h1>THIS IS THE INDEX PAGE</h1>
<p> Yep, it's true</p>
<p> :D </p>
<p>Maybe you can try to embed a youtube video of something tech-related</p>

<% include ./partials/footer %>
