<% include ./partials/header %>

<div class="main-banner"></div>

<div class="ui text container">
  <h1>Show Me Things</h1>
  <h3> (this is the index page) </h3>
  <p> Yep, it's true</p>
  <p>Maybe you can try to embed a youtube video of something tech-related</p>


  <iframe 
    width="560" 
    height="315" 
    src="http://www.youtube.com/embed/xYyzn5D5GU8?autoplay=0&cc_load_policy=1&color=white&controls=1&showinfo=1&rel=0"    frameborder="0" 
    allowfullscreen
  >
  </iframe>

  <br>
  <p> :D </p>
  <p> For the real thing, only stick in the iframe embeds for the latest 3 (or 6 or w/e), and just have a blog link to the other ones (or else it'll slow down too much) </p>
  <p> Don't worry much about the create route, because you'll try to automate that process later </p>
  <p>~</p>
  <p></p>
</div>

<% include ./partials/footer %>
