<% include partials/header %>

<br>
<br>

<div class="ui main text container segment">
  <h1> 
    This is the NEW.ejs file
  </h1>

  <form class="ui form " action="/things" method="POST">
    <div class="field">
      <label>Blog Post Title</label>
      <input type="text" name="thing[title]" placeholder="Title">
    </div>

    <div class="field">
      <label>Image URL</label>
      <input type="text" name="thing[image]" placeholder="url">
    </div>

    <div class="field">
      <label>Youtube video ID</label>
      <input type="text" name="thing[video]" placeholder="https://www.youtube.com/watch?v=...">
    </div>

    <div class="field">
      <label>Additional Info</label>
      <textarea name="thing[body]" placeholder="Write any additional info here"></textarea>
    </div>


    <button type="submit" class="ui basic button">
      <i class="icon send"></i>
      Submit
    </button>

    <button type="submit" class="ui green button">Submit</button>

    <button type="submit" class="ui right labeled icon button">
      <i class="right arrow icon"></i>
      Submit
    </button>


  </form>

</div>

<br>

<% include partials/footer %>
