<% include partials/header %>

<br><br><br><br>

<span>
  SHARE 
</span>
<button class="ui facebook button">
  <i class="facebook icon"></i>
  Facebook
</button>
<button class="ui twitter button">
  <i class="twitter icon"></i>
  Twitter
</button>
<button class="ui google plus button">
  <i class="google plus icon"></i>
  Google Plus
</button>
<button class="ui left attached button">Left</button>
<button class="right attached ui button">Right</button>
<div class="ui vertical buttons">
  <button class="ui button">Feed</button>
  <button class="ui button">Messages</button>
  <button class="ui button">Events</button>
  <button class="ui button">Photos</button>
</div>

<br><br><br><br>
<span>
  LIKE 
</span>
<div class="ui labeled button" tabindex="0">
  <div class="ui button">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic label">
    2,048
  </a>
</div>
<div class="ui left labeled button" tabindex="0">
  <a class="ui basic right pointing label">
    2,048
  </a>
  <div class="ui button">
    <i class="heart icon"></i> Like
  </div>
</div>
<div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic red left pointing label">
    1,048
  </a>
</div>

<% include partials/footer %>
