main {
  margin-top: 2.5em;

  /*padding-top: 33em;*/
}

.main-banner{
  background: url(./../images/header-pic.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 40em;
  margin-bottom: 2em;
  /*overflow: hidden*/
}

